---
---

a {
  text-decoration: none;
  color: #07e; }
  a:hover {
    text-decoration: underline; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  line-height: 1.2em;
  background: url("/images/tartan2.png") #e6e9ed fixed; }

blockquote {
  background-color: #ddd;
  border-left: 1px solid #bbb;
  text-indent: none; }

hr {
  border: 1px solid #999; }

img.left {
  float: left;
  margin-right: 1em;
  border: 1px solid #000; }

img.right {
  float: right;
  margin-left: 1em;
  border: 1px solid #000; }

table {
  width: 100%;
  border-collapse: collapse; }
  table tr {
    border-bottom: 1px solid #000;
    margin: 0;
    padding: 0; }
    table tr.odd {
      background-color: #ddd; }
    table tr.even {
      background-color: #eee; }
    table tr td {
      margin: 0;
      padding: 3px;
      border-left: 1px solid #aaa; }

.flash {
  background-color: #AA6A5C; }

#admin_tools {
  padding: 0;
  margin: 0;
  list-style-type: none;
  overflow: hidden;
  width: 100%; }
  #admin_tools li {
    float: right;
    padding-left: 5px; }

#content {
  text-align: justify;
  padding: 1em 1em; }
  #content p {
    margin-left: 0.5em; }
  #content p.noindent {
    text-indent: 0; }

#footer {
  /* position    : fixed;
  bottom      : 0;
  */
  padding-top: 1.5em;
  width: 100%;
  text-align: center;
  font-size: 0.6em;
  background: url("/images/white-80.png"); }

#header {
  font-size: 3em;
  line-height: 1em;
  text-align: center;
  border-bottom: 1px solid black;
  padding: 8px; }
  #header a {
    text-decoration: none;
    color: #000;
    display: block; }

#menu {
  margin: 0;
  padding: 0 0 0 1em;
  overflow: hidden;
  width: 100%; }
  #menu li {
    list-style-type: none;
    display: inline;
    float: left;
    padding-right: 1em;
    font-size: 1.4em; }
    #menu li a {
      color: #888;
      text-decoration: none; }
    #menu li:hover {
      outline: none;
      color: #000; }

#pi {
  float: right;
  color: #000;
  text-decoration: none;
  margin-right: 1em;
  padding: 0 1em;
  display: block; }

#social {
  border-bottom: 1px solid black;
  display: none; }
  #social #twitter {
    margin-left: 6em;
    font-style: italic;
    text-indent: none; }
  #social #tweet {
    font-style: normal;
    margin-left: 1em;
    font-family: Courier; }

#wrap {
  -moz-box-shadow: 0px 0px 10px 0 #666666;
  -webkit-box-shadow: 0px 0px 10px 0 #666666;
  box-shadow: 0px 0px 10px 0 #666666;
  margin: 0 auto;
  width: 650px;
  min-height: 1024px;
  padding-bottom: 5em;
  background: url("/images/white-60.png");
  border-width: 0 1px;
  border-style: solid;
  border-color: #bbb; }

