---
---

a {
  text-decoration: none;
  color: #07e;
  &:hover {
    text-decoration: underline;
  }
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  line-height: 1.2em;
  background: #fff;
}

blockquote {
  background-color: #ddd;
  border-left: 1px solid #bbb;
  text-indent: none;
}

hr {
  border: 0 0 0 1px dotted black;
}

img.left {
  float: left;
  margin-right: 1em;
  border: 1px solid #000;
}

img.right {
  float: right;
  margin-left: 1em;
  border: 1px solid #000;
}

table {
  width: 100%;
  border-collapse: collapse;

  tr {
    border-bottom: 1px solid #000;
    margin: 0;
    padding: 0;
    .odd {
      background-color: #ddd;
    }
    .even {
      background-color: #eee;
    }

    td {
      margin: 0;
      padding: 3px;
      border-left: 1px solid #aaa;
    }
  }
}

.code {
  background-color: #eff0f1;
  color: #000;
}

pre.code {
  margin-left: 2em;
  padding: 3px;
}

#content {
  text-align: justify;
  padding: 1em 1em;

  p {
    margin-left: 0.5em;
  }
  p.noindent {
    text-indent: 0;
  }
}

#footer {
  bottom: 0;
  padding-top: 1.5em;
  width: 100%;
  text-align: center;
}

#header {
  font-size: 3em;
  line-height: 1em;
  text-align: center;
  padding: 8px;

  a {
    text-decoration: none;
    color: #000;
    display: block;
  }
}

#pi {
  font-size: 0.6em;
  float: right;
  color: #000;
  text-decoration: none;
  margin-right: 1em;
  padding: 0 1em;
  display: block;
}

#wrap {
  margin: 0 auto;
  max-width: 1280px;
}

