:javascript
  document.observe('dom:loaded', function(){
    $$('#archive ul').each(function (e){
      e.setStyle({
        display: 'none',
        cursor: 'pointer'
      });
    });
    $$('#archive li').each(function (li){
      li.observe('click', function (event){
        this.down('ul').setStyle({
          display: ''
        });
      });
    });
  });

#archive
  -years = @archive.keys.sort
  -years.each do |y|
    %li
      =y
      %ul
        -months = @archive[y].keys.sort
        -months.each do |m|
          %li
            =m
            %ul
              -posts = @archive[y][m].sort {|a,b| a.created_at <=> b.created_at}
              -posts.each do |content|
                %li
                  = content.created_at
                  = link_to content.title, content
