---
layout: default
---

<h3>Brief:</h3>
<p>
My name is Robert Carpenter.  I build web applications, automate servers, compile and analyze data, and query databases en masse. I wrote my first HTML page way back in 1997, and "published" on the now defunct geocities for several years.
</p>

<h3>GPG:</h3>
<p>
Fingerprint: <code class="code">06B0 DC2D C2F1 A150 B309  9209 A384 CFD0 9D54 E693</code><br>
Public Key: <a href="/files/9D54E693.txt">.txt</a> &middot; <a href="/files/9D54E693.asc">.asc</a>
</p>

<h3>Find me:</h3>
<p>
<a href="https://resume.robacarp.com">Resume.</a> <br>
<a href="https://github.com/robacarp">Github.</a> <br>
<a href="https://keybase.io/robacarp">Keybase.</a> <br>
<a href="https://twitter.com/robacarp">Twitter.</a> <br>
<a href="mailto:codemonkey \at/ robacarp \dot/ com">Email.</a> <br>
<a href="https://instagram.com/robacarp">Instagram.</a>
</p>

<h3>Recent Posts:</h3>
<ul>
  {% for post in site.posts limit: 5 %}
    <li>
      {{ post.date | date: "%Y-%h-%d" }} <a href="{{ post.url }}">{{ post.title }}</a> <em>{{ post.tags | join: ", " }}</em>
    </li>
  {% endfor %}
</ul>

<h3>Post Feed</h3>
<a href="/atom.xml">ATOM</a>

{% capture tag_counts %}
  {% for tag in site.tags %}
    {{ tag[1].size | plus: 1000 }}#{{ tag[0] | downcase }}#{{ tag[1].size }}
  {% endfor %}
{% endcapture %}

{% assign sorted_tags = tag_counts | split: " " | sort | reverse %}

<h3>Popular Tags:</h3>
<ul>
{% for tag in sorted_tags limit:5 %}
  {% assign parts = tag | split: "#" %}
  {% assign name = parts[1] %}
  {% assign post_count = parts[2] %}
  <li><a href="/tags.html#{{ name }}">{{ name }}</a> - {{ post_count }} posts
{% endfor %}
</ul>
