/* line 3, ../../app/stylesheets/screen.scss */
a {
  text-decoration: none;
  color: #07e;
}
/* line 6, ../../app/stylesheets/screen.scss */
a:hover {
  text-decoration: underline;
}

/* line 11, ../../app/stylesheets/screen.scss */
body {
  margin: 0;
  padding: 0;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  background: url("/images/tartan2.png") #e6e9ed fixed;
}

/* line 18, ../../app/stylesheets/screen.scss */
table {
  width: 100%;
  border-collapse: collapse;
}
/* line 21, ../../app/stylesheets/screen.scss */
table tr {
  border-bottom: 1px solid #000;
  margin: 0;
  padding: 0;
}
/* line 26, ../../app/stylesheets/screen.scss */
table tr.odd {
  background-color: #888;
}
/* line 27, ../../app/stylesheets/screen.scss */
table tr.even {
  background-color: #eee;
}
/* line 28, ../../app/stylesheets/screen.scss */
table tr td {
  margin: 0;
  padding: 3px;
}

/* line 36, ../../app/stylesheets/screen.scss */
.flash {
  background-color: #AA6A5C;
}

/* line 40, ../../app/stylesheets/screen.scss */
#admin_tools {
  padding: 0;
  margin: 0;
  list-style-type: none;
  overflow: hidden;
  width: 100%;
}
/* line 45, ../../app/stylesheets/screen.scss */
#admin_tools li {
  float: right;
  padding-left: 5px;
}

/* line 53, ../../app/stylesheets/screen.scss */
#content {
  text-align: justify;
  border-top: 1px solid black;
  overflow: hidden;
  width: 100%;
}
/* line 60, ../../app/stylesheets/screen.scss */
#content div {
  margin: 1em;
}
/* line 61, ../../app/stylesheets/screen.scss */
#content p {
  text-indent: 2em;
}

/* line 64, ../../app/stylesheets/screen.scss */
#footer {
  position: fixed;
  bottom: 0;
  padding-top: 1.5em;
  width: 650px;
  text-align: center;
  font-size: 0.6em;
  background: url("/images/white-80.png");
}

/* line 75, ../../app/stylesheets/screen.scss */
#header {
  font-size: 3em;
  text-align: center;
  border-bottom: 1px solid black;
  padding: 8px;
}

/* line 82, ../../app/stylesheets/screen.scss */
#menu {
  margin: 0;
  padding: 0 0 0 1em;
  overflow: hidden;
  width: 100%;
}
/* line 87, ../../app/stylesheets/screen.scss */
#menu li {
  list-style-type: none;
  display: inline;
  float: left;
  padding-right: 1em;
  font-size: 1.4em;
}
/* line 94, ../../app/stylesheets/screen.scss */
#menu li a {
  color: #888;
  text-decoration: none;
}
/* line 99, ../../app/stylesheets/screen.scss */
#menu li:hover {
  outline: none;
  color: #000;
}

/* line 106, ../../app/stylesheets/screen.scss */
#pi {
  float: right;
  color: #000;
  text-decoration: none;
  margin-right: 1em;
  padding: 0 1em;
  display: block;
}

/* line 115, ../../app/stylesheets/screen.scss */
#wrap {
  margin: 0 auto;
  width: 650px;
  min-height: 1024px;
  background: url("/images/white-60.png");
}
