
body {
  font-size:1em;
  text-align:center;
  background-color:#CBE8C3;
  padding:0;
  margin:0;
}

hr {
  clear:both;
  visibility:hidden;
}

.bracket {
  font-size:10em;
  position:absolute;
  top:0px;
  left:0px;
}

#content {
  background:url('/images/white-65.png');
  font-family:'Helvetica Neue';
  text-align:justify;
  margin-top:1.9em;
  padding:0 1.9em;
  border:0px solid #fff;
  min-height:3em;
  clear:both;
}

#configuration {
  display:none;
  position:absolute;
  top:0;
  left:0;
  background:url('/images/white-75.png');
  font-family:'Helvetica Neue';
  border:0px solid #fff;
  text-align:center;
}
  #configuration .hidden {
    display:none;
  }

#footer {
  margin-top:3px;
  background:url('/images/white-75.png');
  border:0px solid #fff;
  min-height:3em;
  font-family:'Helvetica Neue';
  font-size:0.7em;
  text-align:center;
}

#logo {
  margin:0;
  padding:0;
  border:0px solid #000;
  font-size:4em;
}

#menu, #menu>ul {
  padding:0;
  margin:0;
  list-style:none;
  font-size:1.4em;
}

  #menu>li {
    float:left;
  }

  #menu li {
    display:block;
    padding:0;
    width:150px;
  }

  #menu>li>a {
    padding:0 2em;
  }

  #menu li>a {
    background:url('/images/white-90.png');
    padding:0 2em;
    color:#000;
    font-family:'Helvetica Neue', Helvetica, Verdana;
    text-decoration:none;
    display:block;
  }

  #menu li>a:hover {
    background:url('/images/black-75.png');
    color:#f00;
  }

  #menu>li>ul {
    position:absolute;
    left:-50em;
    padding:0 0 1em;
  }

  #menu>li:hover>ul {
    left:auto;
  }

  #menu>li>ul>li {
  }

  #menu li>ul>li>a {
  }




#pi {
  float:right;
  font-size:1.3em;
  margin:0.5em;
  display:none;
}

  #footer:hover #pi{
  }


#wrap {
  margin:0 auto;
  padding:0;
  width:768px;
  border:1px solid #aeaeae;
  border-width:0 1px;
  background-color:#ccc;
}

