
body {
  background  : url('/images/tartan2.png') #E6E9ED;
  margin      : 0;
  padding     : 0;
  font-family : 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

#content {
  clear          : both;
  text-align     : justify;
  padding        : 0 7px;
  border-top     : 1px solid black;
  padding-bottom : 3em;
}

  #content p {
    text-indent:2em;
  }

#footer {
  position   : fixed;
  bottom     : 0;
  width      : 600px;
  padding-top: 1.5em;

  text-align : center;
  font-size  : 0.6em;
  background : url('/images/white-80.png');
}

#header {
  font-size     : 3em;
  text-align    : center;
  border-bottom : 1px solid black;
  padding       : 8px;
}

#menu {
  margin  : 0;
  padding : 0 0 0em;
  font-size:1.4em;
}

  #menu li {
    list-style-type : none;
    display         : inline;
    float           : left;
    padding-right   : 1em;
  }

  #menu li a {
    color:#888;
    text-decoration:none;
  }

  #menu li a:hover {
    outline:none;
    color:#000;
  }

  #menu:after {
    clear      : both;
    content    : " ";
    visibility : hidden;
  }

#wrap {
  margin     : 0 auto;
  width      : 600px;
  height     : 1024;
  background : url('/images/white-60.png');
}
