@mixin clearfix { overflow:hidden; width:100%; }

a {
  text-decoration:none;
  color:#07e;
  &:hover {
    text-decoration:underline;
  }
}

body {
  margin      : 0;
  padding     : 0;
  font-family : 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  background  : url('/images/tartan2.png') #E6E9ED fixed;
}

blockquote {
  background-color:#ddd;
  border-left:1px solid #bbb;
  text-indent:none;
}

hr { border:1px solid #999; }

table {
  width:100%;
  border-collapse:collapse;
  tr {
    border-bottom:1px solid #000;
    margin:0;
    padding:0;

    &.odd { background-color:#ddd; }
    &.even { background-color:#eee; }
    td {
      margin:0;
      padding:3px;
      border-left:1px solid #aaa;
    }
  }
}


.flash {
  background-color:#AA6A5C;
}

#admin_tools {
  padding:0;
  margin:0;
  list-style-type:none;

  li {
    float:right;
    padding-left:5px;
  }

  @include clearfix;
}

#content {
  text-align : justify;
  border-top : 1px solid black;


  @include clearfix;

  div { margin    : 1em; }
  p { text-indent : 2em; }
  p.noindent { text-indent: 0; }
}

#footer {
  position    : fixed;
  bottom      : 0;
  padding-top : 1.5em;
  width       : 650px;

  text-align : center;
  font-size  : 0.6em;
  background : url('/images/white-80.png');
}

#header {
  font-size     : 3em;
  text-align    : center;
  border-bottom : 1px solid black;
  padding       : 8px;

  a {
    text-decoration:none;
    color:#000;
    display:block;
  }
}

#menu {
  margin  : 0;
  padding : 0 0 0 1em;
  @include clearfix;

  li {
    list-style-type : none;
    display         : inline;
    float           : left;
    padding-right   : 1em;
    font-size:1.4em;

    a {
      color           : #888;
      text-decoration : none;
    }

    &:hover {
      outline : none;
      color   : #000;
    }
  }
}

#pi {
  float           : right;
  color           : #000;
  text-decoration : none;
  margin-right    : 1em;
  padding:0 1em;
  display:block;
}

#wrap {
  margin     : 0 auto;
  width      : 650px;
  min-height : 1024px;
  padding-bottom: 5em;
  background : url('/images/white-60.png');
  border-width:0 1px;
  border-style:solid;
  border-color:#bbb;
}
