@mixin clearfix { overflow:hidden; width:100%; }
@mixin rounded-top($r:5px) {
  border-top-right-radius: #{$r}; border-top-left-radius: #{$r};
  -moz-border-radius-topright: #{$r}; -moz-border-radius-topleft: #{$r};
  -webkit-border-top-right-radius: #{$r}; -webkit-border-top-left-radius: #{$r};
}

@mixin rounded-bottom($r:5px) {
  border-bottom-right-radius: #{$r}; border-bottom-left-radius: #{$r};
  -moz-border-radius-bottomright: #{$r}; -moz-border-radius-bottomleft: #{$r};
  -webkit-border-bottom-right-radius: #{$r}; -webkit-border-bottom-left-radius: #{$r};
}

@mixin inset-shadow($color:#888, $distance:5px, $blur:0, $spread:0) {
  -moz-box-shadow   : inset $distance $distance $blur $spread $color;
  -webkit-box-shadow: inset $distance $distance $blur $spread $color;
  box-shadow        : inset $distance $distance $blur $spread $color;
}

@mixin shadow($color:#888, $distance:5px, $blur:0, $spread:0) {
  -moz-box-shadow   : $distance $distance $blur $spread $color;
  -webkit-box-shadow: $distance $distance $blur $spread $color;
  box-shadow        : $distance $distance $blur $spread $color;
}

@mixin rounded($r:5px) { @include rounded-top($r); @include rounded-bottom($r); }



a {
  text-decoration:none;
  color:#07e;
  &:hover {
    text-decoration:underline;
  }
}

body {
  margin      : 0;
  padding     : 0;
  font-family : 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  line-height :1.2em;
  background  : url('/images/tartan2.png') #E6E9ED fixed;

}

blockquote {
  background-color:#ddd;
  border-left:1px solid #bbb;
  text-indent:none;
}

hr { border:1px solid #999; }

img.left {
  float:left;
  margin-right:1em;
  border:1px solid #000;
}

img.right {
  float:right;
  margin-left:1em;
  border:1px solid #000;
}


table {
  width:100%;
  border-collapse:collapse;
  tr {
    border-bottom:1px solid #000;
    margin:0;
    padding:0;

    &.odd { background-color:#ddd; }
    &.even { background-color:#eee; }
    td {
      margin:0;
      padding:3px;
      border-left:1px solid #aaa;
    }
  }
}


.flash {
  background-color:#AA6A5C;
}

#admin_tools {
  padding:0;
  margin:0;
  list-style-type:none;

  li {
    float:right;
    padding-left:5px;
  }

  @include clearfix;
}

#content {

  text-align: justify;
  padding: 1em 1em ;

  p          { margin-left : 0.5em; }
  p.noindent { text-indent: 0;      }

}

#footer {
  /* position    : fixed;
  bottom      : 0;
  */
  padding-top : 1.5em;
  width       : 100%;

  text-align : center;
  font-size  : 0.6em;
  background : url('/images/white-80.png');
}

#header {
  font-size     : 3em;
  line-height   : 1em;
  text-align    : center;
  border-bottom : 1px solid black;
  padding       : 8px;

  a {
    text-decoration:none;
    color:#000;
    display:block;
  }
}

#menu {
  margin  : 0;
  padding : 0 0 0 1em;
  @include clearfix;

  li {
    list-style-type : none;
    display         : inline;
    float           : left;
    padding-right   : 1em;
    font-size:1.4em;

    a {
      color           : #888;
      text-decoration : none;
    }

    &:hover {
      outline : none;
      color   : #000;
    }
  }
}

#pi {
  float           : right;
  color           : #000;
  text-decoration : none;
  margin-right    : 1em;
  padding:0 1em;
  display:block;
}

#social {
  border-bottom:1px solid black;
  display:none;

  #twitter {
    margin-left:6em;
    font-style:italic;
    text-indent:none;
  }

  #tweet {
    font-style:normal;
    margin-left:1em;
    font-family:Courier;
  }
}

#wrap {
  @include shadow(#666, 0px, 10px, 0);

  margin     : 0 auto;
  width      : 650px;
  min-height : 1024px;
  padding-bottom: 5em;
  background : url('/images/white-60.png');
  border-width:0 1px;
  border-style:solid;
  border-color:#bbb;
}
