---
layout: default
---

<h3>Brief:</h3>
<p>My name is Robert Carpenter.</p>
<p>I build web applications, automate clouds, compile and analyze data, and spend way too much time thinking about software.</p>
<p>I wrote my first HTML page way back in 1997, and "published" on the now defunct geocities for several years before graduating to writing web applications in Perl, PHP, Ruby, and a smattering of others.</p>

<h3>Find me:</h3>
<p>
<a href="https://github.com/robacarp">Github</a> &middot;
<a href="https://twitter.com/robacarp">Twitter</a> &middot;
<a href="mailto:codemonkey \at/ robacarp /dot\ com">Email</a> &middot;
<a href="https://www.instagram.com/the.warranty.is.void/">Instagram</a>
</p>

<h3>Recent Posts:</h3>
<ul>
  {% for post in site.posts limit: 5 %}
    <li>
      {{ post.date | date: "%Y-%h-%d" }} <a href="{{ post.url }}">{{ post.title }}</a> <em>{{ post.tags | join: ", " }}</em>
    </li>
  {% endfor %}
</ul>

<h3>Post Feed</h3>
<a href="/atom.xml">ATOM</a>

{% capture post_years %}
  {% for post in site.posts %}
  {{ post.date | date: '%Y' }}
  {% endfor %}
{% endcapture %}

{% assign unique_post_years = post_years | split: " " | sort | uniq | reverse %}

<h3>Archives by year</h3>
<p>
{% for year in unique_post_years %}
  <a href="/{{year}}">{{year}}</a>
  {% if forloop.last != true %}
  &middot;
  {% endif %}
{% endfor %}
</p>

{% capture tag_counts %}
  {% for tag in site.tags %}
    {{ tag[1].size | plus: 1000 }}#{{ tag[0] | downcase }}#{{ tag[1].size }}
  {% endfor %}
{% endcapture %}

{% assign sorted_tags = tag_counts | split: " " | sort | reverse %}

<h3>Popular Tags:</h3>
<ul>
{% for tag in sorted_tags limit:10 %}
  {% assign parts = tag | split: "#" %}
  {% assign name = parts[1] %}
  {% assign post_count = parts[2] %}
  <li><a href="/tags.html#{{ name }}">{{ name }}</a> - {{ post_count }} posts
{% endfor %}
</ul>
