%h2 Portfolio
%hr
%h3 Wordpress Templates
%a(href="http://cliffsideski.com/")
  %img.right(src="/images/portfolio/cliffside.png")
:markdown
  **Cliffside Ski and Bike Rental**<br>
  *Durango, CO*

  Original design and wordpress template.  Website is maintained by the owners.
%hr
