- content_for :title, "Resume"
#center(style="margin:2em auto; text-align:center;")
  Sections:
  %a(href="#development")Development
  ,
  %a(href="#computing")Computing
  ,
  %a(href="#language")Language
  ,
  %a(href="#education")Education
  ,
  %a(href="#hobbies")Hobbies
%h2#development Development <a href="http://xkcd.com/503/" style="color:#000; border-bottom:1px #000 dashed" title="East and West">Environment</a>
%ul(style="list-style-type:square")
  %li Needs: Text editor. Keyboard. Some sort of processor on which to run my codes.
  %li Wants: Vim. Git. POSIX environment. Closed driver headphones, the occasional Pandora song.
  %li Niceities: MacOS. Modern web browser. irssi. Space and time enough to pick up random hobbies.
%h2#computing General Computing
%ul(style="list-style-type:square")
  %li Debianoids.  General computing and server maintenance.
  %li Mac OSX.  Desktop and mobile computing platform.
  %li Android.  Tablet and phone.
  %li Server management.  Apache, nginx, BIND9, nsd3.  Debian, Ubuntu, Suse.  <span title=":-(" style="border-bottom:1px #000 dotted;">Mail</span>.
  %li Windows computers.  Unfortunately, they're everywhere.
%h2#language Language Experience
%ul(style="list-style-type:square")
  %li
    Ruby
    %ul
      %li
        %b Rails.
        Blogs, commerce, user management, API interface.  Custom extensions to Rails base.  Scheduled and triggered background tasks.
      %li
        %b Data processing.
        Automating analysis of incredibly large datasets <span title=":O" style="border-bottom:1px #000 dotted;">(180,000+ columns)</span>.
      %li
        %b Gem development.
        Interfacing with third party APIs via XML and REST, packaging as a gem.

  %li
    PHP
    %ul
      %li
        %b MVC/ORM.
        Custom PHP MVC and ORM from the ground up.
      %li
        %b Terminal.
        Outside the PHP web stack.  Console based automation and task management framework.  Code generation, database maintenance, and automated testing supports.
      %li
        %b Object Oriented.
        Starting with PHP 4 and current on PHP OO patterns as of PHP 5.3.  Autoloaders, libraries of classes, templating systems.
      %li
        %b Functional.
        Circa PHP 3.  Because, who hasn't?

  %li
    Javascript
    %ul
      %li
        %b jQuery.
        Plugin development, unobtrusive js, user interface enhancement, games.
      %li
        %b Prototype/Scriptaculous
      %li
        %b "old" style.
        Cursor trails and all that. DHTMTL and Ajax before jQuery was cool.
  %li
    Others
    %ul
      %li <b> The implied     :</b> HTML, CSS, haml/sass, bash, perl, vim, git
      %li <b> Purely academic :</b> cLisp, xslt, python, Alice, C#, java
      %li <b> Recreational    :</b> C/C++, opengl, TI-Basic(!), Arduino, Processing, Objective-C, Android, R, make, LaTeX

%h2#education Education
%ul(style="list-style-type:square")
  %li Bachelor of Arts in Computer Science, 2007, 3.0.
  %li Research focus in Embedded development.

%h2#hobbies Hobbies
%ul(style="list-style-type:square")
  %li
    %b General Hacking:
    Hotwiring old computers.  Picking of locks.  Exploratory chemistry.  Robotics.  LEDs.  Analog Circuitry.
  %li
    %b Real World Skillz:
    Welding.  Fixing cars and <span style="border-bottom:1px #000 dotted" title="Except humans...unless they're bleeding">everything else</span>.  Fabricating and building, turning imaginations into realities.  Cooking.  <a href="http://flickr.com/photos/robacarp" style="border-bottom:1px #000 dashed; color:#000">Photography</a>.
  %li
    %b Book Worm:
    A good mystery novel.  Theology.  The Bible.  Security and hacking.  The occasional software development book.
  %li
    %b Music:
    Percussion.  Piano.  Choir.  Sound Board recording and production (related: <a href="http://tascam.com/product/dm-4800/" style="border-bottom:1px #000 dashed; color:#000;">Gaaaa</a>).

