<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="css/screen.css">
</head>
<body>
<div id="wrap">
<div id="header">
Robert Carpenter < net
</div>
<ul id="menu">
  <li><a href="">About</a></li>
  <li><a href="http://flickr.com/photos/robacarp">Pictures</a></li>
  <li><a href="http://github.com/robacarp">Code</a></li>
  <!--li><a href="">Projects</a></li-->
  <!--li><a href="">Writings</a></li-->
</ul>
<div id="content">
{{ content }}
</div>
<div id="footer">
<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">
  <img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" />
</a>
</div>
</div><!--id=wrap-->
</body>
</html>
