<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Robertcarpenter.net</title>
    <style type="text/css" media="screen">
      @import url("/stylesheets/styles.css");
    </style>
    <%= javascript_include_tag :defaults %>
  </head>
  <body> 
  <div id="wrap">
  <div id="logo">
  { Robert Carpenter &lt; net }
  </div>
  <ul id="menu">
    <li><a href="/writings/77">Me</a></li>
    <li><a href="#">Pictures</a>
      <ul id="pictures_menu">
        <li><a href="http://flickr.com/photos/robacarp">Flickr</a></li>
        <!--li><a href="#">Link</a></li-->
      </ul>
    </li>
    <li><a href="#">Writings</a>
      <ul id="writings_menu">
        <li><a href="/">Recent</a></li>
        <li><a href="/archive">Archives</a></li>
      </ul>
    </li>
    <!--li><a href="#">Projects</a>
      <ul id="projects_menu">
        <li><a href="#">link</a></li>
        <li><a href="#">link</a></li>
      </ul-->
    </li>
  </ul>
  <hr />
  <div id="content">
  <%= yield %>
  </div><!--id=content-->
  <div id="footer">
  &copy; 2010 Robert L. Carpenter
  <div id="pi">
    &pi;
  </div><!--id=pi-->
  </div><!--id=footer-->
  </div><!--wrap-->
  </body>
</html>
<!-- -->
