<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Robertcarpenter.net</title>
    <style type="text/css" media="screen">
      @import url("/stylesheets/styles.css");
    </style>
    <%= javascript_include_tag :all %>
  </head>
  <body> 

<script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 4,
  interval: 6000,
  width: 250,
  height: 200,
  theme: {
    shell: {
      background: '#333333',
      color: '#ffffff'
    },
    tweets: {
      background: '#000000',
      color: '#ffffff',
      links: '#4aed05'
    }
  },
  features: {
    scrollbar: false,
    loop: true,
    live: true,
    hashtags: true,
    timestamp: true,
    avatars: false,
    behavior: 'default'
  }
}).render().setUser('robacarp').start();
</script>

  <div id="wrap">
  <div id="logo">
  { Robert Carpenter &lt; net }
  </div>
  <ul id="menu">
    <li><a href="/writings/show/77">Me</a></li>
    <li><a href="#">Pictures</a>
      <ul id="pictures_menu">
        <li><a href="http://flickr.com/photos/robacarp">Flickr</a></li>
        <!--li><a href="#">Link</a></li-->
      </ul>
    </li>
    <li><a href="#">Writings</a>
      <ul id="writings_menu">
        <li><a href="/">Recent</a></li>
        <li><a href="/writings/archive">Archives</a></li>
      </ul>
    </li>
    <!--li><a href="#">Projects</a>
      <ul id="projects_menu">
        <li><a href="#">link</a></li>
        <li><a href="#">link</a></li>
      </ul-->
    </li>
  <% if current_user.is_admin? then %>
    <li><a href="#">Tools</a>
      <ul id="tools_menu">
        <li><a href="/writings/edit/77">Edit</a></li>
        <li><a href="/writings/new">New</a></li>
      </ul>
    </li>
  <% end %>
  </ul>
  <hr />
    <% if flash[:notice] %>
      <p style="color:green"><%= flash[:notice] %></p>
    <% end %>
    
    <% if flash[:error] %>
      <p style="color:red"><%= flash[:error] %></p>
    <% end %>
  <div id="content">
  <%= yield %>
  </div><!--content-->
  <div id="footer">
  &copy; 2010 Robert L. Carpenter
  <a href="/login" id="pi">&pi;</a>
  </div><!--footer-->
  </div><!--wrap-->
  </body>
</html>
